GA Tech Project 1

Initial Data Crawl:

-Drop columns from baseball-reference.com datasets
-Download datasets from baseball-reference.com (csv)
-Commit and Push datasets to repository


Sean:
-2017 Batting (hide non-qualifiers)

Sruthi:

-2017 Pitching (do not hide non-qualifiers)
Robert:

-2016 Batting (hide non-qualifiers)
-2016 Pitching (do not hide non-qualifiers)

Adrian:
-2018 Batting (hide non-qualifiers)
-2018 Pitching (do not hide non-qualifiers)


Considerations:
-Post 2003 (steroid era)
-Played at least 100 games
